html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /*animation: screenShake 3.1s forwards;*/
}

/*Specifying all text elements (color, font, etc.)*/
h1, h2, p, ul, button, a{
    font-family: "Staatliches", sans-serif;
    color: white;
    text-decoration: none;
}

p, h2, h3{
    filter: drop-shadow(0 2px 10px black) contrast(110%);
}

button:hover{
    animation: gradualGlow .2s forwards;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: black;
    background: linear-gradient(-45deg, #333333 10%,#222222 100%);
    background-size: 400% 400%;
    /*animation: animateBackground 10s infinite ease-in-out;
    background: linear-gradient(-45deg, #333333 10%,#111111 100%);*/
}
#navList{
    z-index: 5;
    position: fixed;
    margin: 0;
    width: 100%;
    min-height: 5%;  
    list-style: none;
    filter: drop-shadow(0 2px 10px black) contrast(110%);
    text-wrap: nowrap;
    background: linear-gradient(-10deg, #222222 10%,#000000 100%);
}

#navItems{
    margin: 0;
    margin-top: .7%;
    padding-right: 17px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    gap: 5%;
}

